In [1]:
import pandas

In [2]:
from faker import Factory
import random
import names
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()
status = 'created,delivered,returned'.split(',')

In [180]:
def fakerecord():
    return {'lane_id': faker.numerify('######'),  # random number eg:235533
            
            'speed': random.choice([25,30,35,40,45,50,55,60,65,70]),  # id's eg:1,20,28,27
          
            }

example_dummy_data = pd.DataFrame([fakerecord() for _ in range(150)])

In [181]:
example_dummy_data

    lane_id  speed
0    281351     30
1    632209     50
2    352598     65
3    643716     35
4    934753     35
5    654894     45
6    593458     70
7    940636     50
8    017089     55
9    471377     50
10   440669     25
11   507148     40
12   963209     65
13   207028     70
14   352722     50
15   569494     55
16   826431     60
17   250940     50
18   521695     70
19   441682     25
20   562175     45
21   465352     25
22   136013     50
23   869832     70
24   508537     70
25   113536     70
26   487642     65
27   625127     70
28   041133     35
29   289210     35
..      ...    ...
120  082151     55
121  529160     50
122  168368     30
123  820255     25
124  999404     50
125  449676     60
126  685403     25
127  851687     70
128  582571     35
129  002202     35
130  314555     40
131  664431     35
132  269023     50
133  417357     45
134  176258     30
135  374102     65
136  257439     30
137  923958     60
138  085303     65
139  530213     30
140  443557     55
141  245372     40
142  815749     35
143  355752     25
144  567841     45
145  691003     50
146  246662     50
147  199123     40
148  236544     35
149  807135     35

[150 rows x 2 columns]

In [182]:
writer = pd.ExcelWriter('LANE.xlsx', engine='xlsxwriter')
example_dummy_data.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [177]:
import names
from faker import Factory
import random
from barnum import gen_data
faker = Factory.create()
def fakerecord1():
    k = random.randint(1, 1000000)
    return {'Name': malefemale(k),
            'Password':'password',
            'gender':  gender(k),
            'Phone_Number': faker.numerify('###-###-####'),
            'Street': gen_data.create_street(),
            'Type':random.choice(['Transport official','Civilian']),
            'City': gen_data.create_city_state_zip()[1],
            'State':gen_data.create_city_state_zip()[2],
            'Zip': gen_data.create_city_state_zip()[0],
            }

def malefemale(k):
    if(k%2)==0:
        return names.get_full_name(gender='male')
    else:
        return names.get_full_name(gender='female')
        
def gender(k):
    if(k%2)==0:
        return 'M'
    else:
        return 'F'


example_dummy_data1 = pd.DataFrame([fakerecord1() for _ in range(1500)])
example_dummy_data1

,City,Name,Password,Phone_Number,State,Street,Type,Zip,gender
0,Scappoose,Shelley Betancourt,password,262-065-4271,NJ,4346 Thornbranch Trail,Civilian,25920,F
1,Leck Kill,Jan Maloney,password,553-098-1973,TX,9895 Sunset Circle,Transport official,94660,M
2,Moline,Erica Clifton,password,637-508-3871,CO,8324 Port Charlotte Circle,Transport official,99506,F
3,Bakersfield,Diane Blevins,password,857-812-6597,NY,2652 Stags Leap Circle,Civilian,53403,F
4,Annawan,Heather Young,password,622-200-3829,SD,5337 Walworth Cove,Transport official,42343,F
5,Lava Hot Springs,Moses Delia,password,937-550-1644,MO,3264 Gainesway Drive,Civilian,07825,M
6,Mountain View,Amy Witt,password,977-325-5130,WI,4941 Deep Valley Lane,Civilian,58365,F
7,Sainte Genevieve,Todd Hampton,password,827-702-9186,NH,8789 Meadow Wood Way,Civilian,95108,M
8,Pecos,Ashley Bennett,password,388-957-9444,OH,4086 Belfort Trail,Transport official,17343,F
9,Wales,Leon Marquez,password,711-174-3680,AZ,9450 Dogwood Crest Cove,Transport official,98612,M
10,Tuppers Plains,Oscar Flynn,password,101-514-0659,IL,5332 Grenville Circle,Transport official,20717,M
11,Itta Bena,Sylvia Warrington,password,194-736-4840,MO,7205 Trail Hollow Parkway,Civilian,60564,F
12,Lansing,Yvonne Mcshane,password,523-862-5407,NE,9456 Hidden Parkway,Transport official,08020,F
13,Radom,Rhonda Weekes,password,256-594-2450,MN,3813 Indian Creek Trail,Transport official,57778,F
14,Bronx,Christopher Weiss,password,992-023-3735,WI,2147 Taylorcrest Trail,Civilian,33174,M
15,Metairie,Matthew Rodriguez,password,707-737-2878,TX,4876 Radbrook Way,Civilian,80321,M
16,Westfield,Raymond Large,password,090-344-9483,SC,6435 Heatherly Trail,Transport official,88220,M
17,Greenbush,Brenda Martin,password,886-713-8528,CA,9241 Oakleigh Avenue,Transport official,19040,F
18,Apple Grove,Pete Mcgurk,password,650-151-6519,OH,3320 Chatsworth Way,Civilian,44615,M
19,Bethlehem,Sheila Ramos,password,863-582-1993,WA,5079 Wood Briar Trail,Transport official,17087,F
20,Albany,Thelma Lambert,password,014-577-4235,KS,9718 Deer Cove,Civilian,19390,F
21,Vass,William Ortiz,password,697-832-1753,OH,93 Silkwood Avenue,Transport official,79029,M
22,Mammoth Spring,Gail White,password,163-628-4615,TX,4197 Dellwood Lane,Transport official,30110,F
23,Huntsville,Roberta Lussier,password,227-077-2282,LA,8751 Barkers Trail,Transport official,99634,F
24,Earth City,Christine Copeland,password,219-573-5896,PA,8239 Holly Hill Street,Civilian,42749,F
25,Belford,Bianca Buchanon,password,048-607-7820,GA,9115 Canella Parkway,Civilian,49713,F
26,Rice Lake,Debra Campbell,password,311-466-6953,OH,8852 Pine Hollow Circle,Civilian,58109,F
27,Franklinville,Mark Butler,password,116-538-8271,IL,5704 Lecuyer Cove,Transport official,58654,M
28,Colorado Springs,Aida Mcdermott,password,098-650-2162,MA,4595 Parade Parkway,Civilian,28587,F
29,Winfield,Katie Wheeler,password,857-512-6791,TX,6217 Paul Avenue,Civilian,59111,F
...,...,...,...,...,...,...,...,...,...
1470,Green River,Daniel Dube,password,991-541-6921,LA,310 Paddock Parkway,Civilian,65627,M
1471,Memphis,Sandra Woomer,password,479-386-4289,TX,8033 Kellywood Circle,Civilian,89103,F
1472,Bishop,Peter Ashley,password,138-025-5324,TX,6176 Whitemarsh Parkway,Civilian,95376,M
1473,Minneapolis,Nilda Dashner,password,773-274-9407,CA,7622 Park Lane,Civilian,74734,F
1474,Seney,Paige Loftis,password,203-200-3967,IL,8037 Fiddlers Elbow Avenue,Transport official,79842,F
1475,Parachute,Brenda Carrillo,password,492-838-3418,VA,8363 Newberry Avenue,Transport official,54153,F
1476,Waresboro,Albert Overbaugh,password,373-929-1299,NY,6961 Fairmeadows Cove,Transport official,45112,M
1477,Topeka,Thurman Novoa,password,597-603-3880,NJ,5927 Forest Hill Lane,Transport official,32725,M
1478,South Lee,Nancy Delrosso,password,393-952-2635,PA,3490 Curve Crest Lane,Civilian,01546,F
1479,Little Rock,Scott Cerezo,password,359-751-6371,WA,5792 Stonebridge Circle,Transport official,51242,M
1480,Big Flats,Jean Guidry,password,006-205-9856,NY,8464 Imperial Circle,Civilian,32247,F
1481,Chiloquin,John Centeno,password,671-221-4853,CA,8704 Morgan Way,Civilian,98664,M
1482,Hunt Valley,Louis Srey,password,211-644-1168,OH,4013 Pine Tree Way,Transport official,48312,M
1483,Staten Island,John Galbreath,password,870-048-9315,NY,3256 Norell Avenue,Civilian,53022,M
1484,Comanche,Darrell Crissman,password,661-693-0728,NY,8173 Southchester Parkway,Transport official,25140,M
1485,Springfield,Leonard Jones,password,634-265-1255,KY,2645 Hampton Grove Circle,Civilian,62633,M
1486,Southbridge,Laura Tschanz,password,326-522-6717,AR,7793 Hunters Run Street,Civilian,26103,F
1487,Miami,Marcos White,password,593-009-7426,OR,6344 Riverain Way,Transport official,99611,M
1488,Woodbury,Ellen Hull,password,079-390-5937,MT,2315 Oasis Parkway,Civilian,33243,F
1489,Bethesda,Samantha Steven,password,493-471-7022,NE,3337 Carters Grove Lane,Civilian,35906,F
1490,Nashville,Sonia Hansen,password,663-260-6108,LA,9743 Forest Downs Lane,Transport official,84029,F
1491,Bloomfield,Andrew Myers,password,731-790-7552,KY,2811 Poplar Estates Avenue,Civilian,14171,M
1492,Drayden,Susan Ray,password,133-227-4465,FL,48 Valley Crest Cove,Civilian,44126,F
1493,Tyringham,Ryan Wells,password,707-267-9772,TX,4637 Wargate Circle,Civilian,89315,M
1494,Sacramento,Alexander Knight,password,472-066-5014,AK,2983 Everwood Street,Transport official,54212,M
1495,Fingal,Kristen Pippin,password,027-753-7611,TX,1086 Cherrybark Way,Transport official,15365,F
1496,Empire,Pat Goodman,password,579-721-2146,VA,4292 Sweetwood Way,Transport official,14821,M
1497,Cole Camp,Young Hodge,password,305-869-9710,MA,8889 Shadeley Avenue,Transport official,23395,F
1498,Aragon,Hilda Collura,password,835-981-7138,CT,9550 Elm Leaf Cove,Civilian,28070,F
1499,Exeter,Phyllis Rodrigues,password,283-592-7978,PA,9984 Sparkling Lake Lane,Civilian,81503,F

In [179]:
writer = pd.ExcelWriter('USER.xlsx', engine='xlsxwriter')
example_dummy_data1.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [84]:
from faker import Factory
import random
import names
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()
cars = [['Chrysler', 'Imperial'],['Citroën', '2CV'],['Hillman', 'Minx Magnificent'],['Chevrolet', 'Corvette'],['Cadillac', 'Fleetwood'],['Ford', 'Thunderbird'],['BMW', '600'],['Austin', 'Mini'],['Fillmore', 'Fillmore'],['Fairthorpe', 'Rockette'],['Studebaker', 'Avanti'],['Pontiac', 'Tempest'],['Pontiac', 'Grand Prix'],['Rambler', 'Classic'],['Ford', 'Mustang'],['Pontiac', 'GTO'],['Pontiac', 'LeMans'],['Pontiac', 'Bonneville'],['Plymouth', 'Fury'],['Austin', 'Mini Cooper'],['Volkswagen', 'Beetle'],['Ford', 'Galaxie'],['Ford', 'Falcon'],['Ford', 'Fairlane'],['Jensen', 'Interceptor'],['Chevrolet', 'Camaro'],['Chevrolet', 'Bel Air'],['Mercury', 'Cougar'],['Ford', 'Country'],['Shelby', 'GT500'],['Dodge', 'Charger'],['Shelby', 'GT350'],['Plymouth', 'Roadrunner'],['Mazda', '626'],['Mazda', 'RX-7'],['Volkswagen', 'Golf'],['Honda', 'Accord'],['Ford', 'EXP'],['Ford', 'Ranger'],['Ford', 'Escort'],['Ford', 'Bronco'],['Ford', 'E250'],['Mercedes-Benz', 'E-Class'],['Mercedes-Benz', 'S-Class'],['Chevrolet', 'Caprice'],['Toyota', 'Celica'],['Dodge', 'Aries'],['Nissan', '280ZX'],['Mercedes-Benz', 'W123'],['Chevrolet', 'Monza'],['Citroën', 'SM'],['Porsche', '914'],['Ford', 'Torino']]

def fakerecord2():
    k = random.randint(0,53 )
    return {'Vehicle_id': faker.numerify('#####'),  
            'Make': make(k),
            'Model': model(k),
            }

def make(k):
    return cars[k][0]
def model(k):
    return cars[k][1]
    

example_dummy_data2 = pd.DataFrame([fakerecord2() for _ in range(10)])
example_dummy_data2

         Make             Model Vehicle_id
0     Mercury            Cougar      89725
1     Hillman  Minx Magnificent      94059
2      Shelby             GT350      49802
3     Pontiac           Tempest      52721
4        Ford            Bronco      71955
5      Jensen       Interceptor      16110
6        Ford              E250      79494
7      Austin              Mini      99699
8        Ford          Fairlane      61607
9  Volkswagen              Golf      82694

In [ ]:
writer = pd.ExcelWriter('VEHICLE.xlsx', engine='xlsxwriter')
example_dummy_data2.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [207]:
from faker import Factory
import random
import datetime
import names
from datetime import datetime
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()

def fakerecord3():
    k1 = random.randint(1000000000,1480036702 )
    k2 = random.randint(k1+1000000,k1+9000000 )
    return {'start_timestamp':  start(k1),
            'end_timestamp': end(k2),
            'No_of_team_members': random.randint(5,25),
            }

def start(k1):
    return datetime.fromtimestamp(k1)
    
def end(k2):
    return datetime.fromtimestamp(k2)
    
example_dummy_data3= pd.DataFrame([fakerecord3() for _ in range(25000)])
example_dummy_data3

       No_of_team_members       end_timestamp     start_timestamp
0                      21 2011-02-21 18:06:28 2010-12-04 18:09:08
1                      13 2007-02-06 08:33:17 2006-10-28 08:42:05
2                       6 2016-05-02 10:53:36 2016-04-09 04:32:03
3                      15 2005-09-23 14:20:07 2005-06-22 14:16:03
4                       8 2005-01-27 09:35:36 2005-01-15 02:46:21
5                      22 2003-11-10 01:32:36 2003-10-07 02:55:28
6                      17 2004-01-02 16:33:02 2003-11-07 15:19:53
7                       7 2011-11-29 10:38:46 2011-08-19 18:43:44
8                       6 2009-02-02 06:07:25 2008-11-07 11:46:15
9                      20 2007-03-13 18:35:11 2007-01-02 07:20:37
10                     10 2013-10-23 21:04:02 2013-09-12 18:18:24
11                      6 2006-09-19 08:03:27 2006-06-15 01:51:54
12                     19 2002-03-19 15:56:04 2002-01-20 15:09:39
13                     23 2002-08-19 04:58:34 2002-08-01 09:06:34
14                     20 2015-12-17 05:34:33 2015-09-25 11:57:52
15                     23 2003-01-06 06:16:45 2002-11-23 14:47:54
16                     22 2016-04-30 05:40:25 2016-02-24 01:05:50
17                     19 2004-11-24 12:52:44 2004-09-07 12:55:54
18                     11 2016-10-03 08:12:45 2016-08-18 20:36:51
19                     25 2007-07-28 12:33:14 2007-06-20 14:26:57
20                     12 2003-04-09 10:18:14 2003-03-07 23:57:00
21                     13 2011-10-04 23:11:40 2011-08-23 08:07:38
22                     25 2016-11-30 18:24:51 2016-10-17 01:03:58
23                     18 2014-09-14 22:12:17 2014-07-22 15:23:59
24                     16 2003-11-21 15:30:15 2003-08-19 18:11:03
25                     10 2011-07-16 14:19:43 2011-04-15 11:41:12
26                     18 2016-05-16 16:23:33 2016-04-19 14:13:25
27                      8 2012-08-21 21:03:49 2012-06-22 11:43:21
28                     15 2017-01-06 18:03:41 2016-10-06 08:48:29
29                      9 2004-05-26 12:54:21 2004-04-11 00:32:46
...                   ...                 ...                 ...
24970                  19 2012-06-04 04:50:01 2012-04-17 22:05:06
24971                  18 2013-01-23 21:30:57 2013-01-09 13:17:11
24972                  21 2013-05-11 16:39:45 2013-02-15 03:03:12
24973                   7 2016-04-13 22:10:36 2016-02-05 16:48:04
24974                  17 2004-03-04 21:19:16 2004-01-01 03:23:13
24975                  17 2010-05-03 11:22:50 2010-02-14 01:37:48
24976                  16 2015-09-16 11:39:11 2015-07-01 14:33:06
24977                  18 2016-12-17 01:08:50 2016-09-08 05:02:39
24978                  19 2002-12-09 22:06:11 2002-09-07 16:23:42
24979                  11 2011-09-07 14:40:32 2011-06-30 20:46:08
24980                   7 2006-05-25 10:35:48 2006-02-23 12:22:56
24981                   6 2002-12-22 15:23:24 2002-09-18 19:33:13
24982                  11 2008-03-28 07:41:38 2007-12-31 00:42:16
24983                  14 2015-11-17 16:46:16 2015-10-14 08:33:50
24984                  23 2012-03-27 12:30:14 2012-03-09 19:32:18
24985                   8 2005-11-23 02:01:22 2005-08-13 06:42:40
24986                  13 2015-09-02 14:21:45 2015-05-21 23:16:08
24987                  13 2012-11-28 09:59:16 2012-11-05 23:40:32
24988                   9 2015-07-26 14:58:07 2015-07-01 14:25:09
24989                   8 2006-03-07 22:12:24 2006-01-30 10:40:13
24990                  25 2010-09-10 22:14:42 2010-06-27 05:03:13
24991                  19 2008-06-15 13:01:52 2008-04-10 23:36:36
24992                  11 2002-01-21 21:44:37 2001-11-03 06:02:35
24993                  19 2007-12-31 23:27:40 2007-10-10 02:02:27
24994                  24 2014-06-17 13:17:16 2014-05-23 17:49:03
24995                   6 2006-12-01 10:28:42 2006-09-26 20:58:36
24996                  23 2010-09-15 18:34:26 2010-07-05 10:10:26
24997                  17 2003-02-27 05:09:09 2002-12-22 13:04:37
24998                  11 2009-01-07 11:48:21 2008-10-20 19:21:53
24999                  20 2003-04-08 04:57:11 2003-01-29 17:38:55

[25000 rows x 3 columns]

In [208]:
writer = pd.ExcelWriter('INVESTIGATION.xlsx', engine='xlsxwriter')
example_dummy_data3.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [219]:
import xlrd
from faker import Factory
import random
import datetime
import names
from datetime import datetime
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()
book = xlrd.open_workbook("Occupation.xlsx")
sheet = book.sheet_by_index(0)

list_j = []

for k in range(1,sheet.nrows):
    list_j.append(str(sheet.row_values(k)[1-1]))
    


def fakerecord4():
    return {
            'occupation': random.choice(list_j),
            
            }

example_dummy_data4= pd.DataFrame([fakerecord4() for _ in range(755)])
example_dummy_data4

                                      occupation
0                 Farm Products Purchasing Agent
1                               Graphic Designer
2                   Dispatcher (Safety Vehicles)
3               Health Care Facilities Inspector
4                       Real Estate Sales Agents
5                                   Patent Agent
6                Hand and Portable Tool Mechanic
7                             Clinical Dietitian
8        Shipping, Receiving, and Traffic Clerks
9                      Numerical Tool Programmer
10                                 Law Professor
11                 Proofreaders and Copy Markers
12                    Golf Course Superintendent
13                    Job Printer (Graphic Arts)
14     English Language and Literature Professor
15                                 Police Artist
16           Home Entertainment System Installer
17                            Business Professor
18                       Log Graders and Scalers
19                                Parole Officer
20                 Building Maintenance Mechanic
21                          Locomotive Engineers
22                       Mining Machine Operator
23                         Anesthesiologist (MD)
24                          Radiation Therapists
25                                Credit Analyst
26                            Bus Boy / Bus Girl
27                            Structural Drafter
28            Hazardous Waste Management Analyst
29     IT Administrator (Information Technology)
..                                           ...
725             Aerospace Engineering Technician
726                              Sales Engineers
727                   Medical Records Technician
728                               Museum Curator
729      Forklift and Industrial Truck Operators
730                         Painter (Industrial)
731                      Agricultural Technician
732                     Logging Tractor Operator
733                               Police Officer
734                            Family Caseworker
735  Traffic Administrator (Freight & Passenger)
736                  Truck Driver, Long Distance
737                  EEG Technician/Technologist
738                  Parking Enforcement Officer
739                      Ultrasound Technologist
740                       Offset Press Operators
741                           Library Consultant
742                              Plastic Surgeon
743         Airline Flight Control Administrator
744             Medical Administrative Assistant
745    Airline Flight Reservations Administrator
746                     Irradiated-Fuel Handlers
747                          Nuclear Technicians
748                       Horticulture Therapist
749                            Property Managers
750                               Meter Mechanic
751               Licensed Practical Nurse (LPN)
752                  Radar and Sonar Technicians
753               Construction Trades Supervisor
754           Human Resources Management Advisor

[755 rows x 1 columns]

In [220]:
writer = pd.ExcelWriter('OCCUPATION.xlsx', engine='xlsxwriter')
example_dummy_data4.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [224]:
import names
from faker import Factory
import random
from barnum import gen_data
faker = Factory.create()
def fakerecord5():
   
    return {
            'Phone_Number': faker.numerify('(###) ###-####'),
            }

example_dummy_data5= pd.DataFrame([fakerecord5() for _ in range(3000)])
example_dummy_data5.head()

     Phone_Number
0  (015) 255-0326
1  (425) 905-6751
2  (705) 462-9058
3  (762) 101-4779
4  (659) 948-1386

In [223]:
writer = pd.ExcelWriter('PHONE_NUMBERS.xlsx', engine='xlsxwriter')
example_dummy_data5.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [225]:
import names
from faker import Factory
import random
from barnum import gen_data
faker = Factory.create()
def fakerecord6():
   
    return {
            'Role_id': random.randint(1,20),
            }

example_dummy_data6= pd.DataFrame([fakerecord6() for _ in range(745)])
example_dummy_data6.head()

   Role_id
0       17
1       19
2        5
3       11
4       18

In [226]:
writer = pd.ExcelWriter('TRANSPORT_OFFICIAL.xlsx', engine='xlsxwriter')
example_dummy_data6.to_excel(writer, sheet_name='Sheet1')
writer.save()