In [1]:
import pandas

In [2]:
from faker import Factory
import random
import names
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()
status = 'created,delivered,returned'.split(',')

In [18]:
def fakerecord():
    return {'lane_id': faker.numerify('######'),  # random number eg:235533
            
            'speed': random.choice([25,30,35,40,45,50,55,60,65,70]),  # id's eg:1,20,28,27
          
            }

example_dummy_data = pd.DataFrame([fakerecord() for _ in range(10)])

In [173]:
example_dummy_data

  lane_id  speed
0  450702     30
1  320837     40
2  430526     55
3  994357     70
4  277232     65
5  589947     35
6  157218     25
7  535580     40
8  089467     65
9  307471     50

In [175]:
writer = pd.ExcelWriter('LANE.xlsx', engine='xlsxwriter')
example_dummy_data.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [75]:
import names
from faker import Factory
import random
from barnum import gen_data
faker = Factory.create()
def fakerecord1():
    k = random.randint(1, 1000000)
    return {'Name': malefemale(k),
            'Password':'password',
            'gender':  gender(k),
            'Phone_Number': faker.numerify('###-###-####'),
            'Street': gen_data.create_street(),
            'Type':random.choice(['Transport official','Civilian']),
            'City': gen_data.create_city_state_zip()[1],
            'State':gen_data.create_city_state_zip()[2],
            'Zip': gen_data.create_city_state_zip()[0],
            }

def malefemale(k):
    if(k%2)==0:
        return names.get_full_name(gender='male')
    else:
        return names.get_full_name(gender='female')
        
def gender(k):
    if(k%2)==0:
        return 'M'
    else:
        return 'F'


example_dummy_data1 = pd.DataFrame([fakerecord1() for _ in range(10)])
example_dummy_data1

,City,Name,Password,Phone_Number,State,Street,Type,Zip,gender
0,Shattuck,Joseph Rodriguez,password,675-531-1248,MO,3727 Gray Ridge Lane,Transport official,15379,M
1,Cobbtown,Kris Castile,password,398-379-0552,FL,7151 Hayley Trail,Civilian,01721,F
2,Humansville,Geneva Faulk,password,687-032-7966,TX,1855 Effingham Parkway,Transport official,48509,F
3,Provo,Bonnie Oneill,password,681-843-5563,OH,7802 Meadow Hill Street,Civilian,66216,F
4,Wapakoneta,Janet Gonzalez,password,351-877-5561,LA,1670 Poplar Cove,Civilian,75433,F
5,Bluegrove,Ramon Nozum,password,476-043-0154,IL,5393 Elm Leaf Way,Transport official,50576,M
6,New Boston,Justina Bottoms,password,347-145-4780,NY,4160 Mallard Lane,Transport official,99013,F
7,Nicholls,Mary Newton,password,552-485-2045,ID,8650 Jewell Street,Civilian,47514,F
8,Excel,Bruce Sawyer,password,232-673-6070,WV,4887 Fleetwood Oaks Circle,Transport official,76884,M
9,Santa Fe Springs,David Moses,password,544-835-5527,PA,2373 Hawthorne Lane,Transport official,50620,M

In [ ]:
writer = pd.ExcelWriter('USER.xlsx', engine='xlsxwriter')
example_dummy_data1.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [84]:
from faker import Factory
import random
import names
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()
cars = [['Chrysler', 'Imperial'],['Citroën', '2CV'],['Hillman', 'Minx Magnificent'],['Chevrolet', 'Corvette'],['Cadillac', 'Fleetwood'],['Ford', 'Thunderbird'],['BMW', '600'],['Austin', 'Mini'],['Fillmore', 'Fillmore'],['Fairthorpe', 'Rockette'],['Studebaker', 'Avanti'],['Pontiac', 'Tempest'],['Pontiac', 'Grand Prix'],['Rambler', 'Classic'],['Ford', 'Mustang'],['Pontiac', 'GTO'],['Pontiac', 'LeMans'],['Pontiac', 'Bonneville'],['Plymouth', 'Fury'],['Austin', 'Mini Cooper'],['Volkswagen', 'Beetle'],['Ford', 'Galaxie'],['Ford', 'Falcon'],['Ford', 'Fairlane'],['Jensen', 'Interceptor'],['Chevrolet', 'Camaro'],['Chevrolet', 'Bel Air'],['Mercury', 'Cougar'],['Ford', 'Country'],['Shelby', 'GT500'],['Dodge', 'Charger'],['Shelby', 'GT350'],['Plymouth', 'Roadrunner'],['Mazda', '626'],['Mazda', 'RX-7'],['Volkswagen', 'Golf'],['Honda', 'Accord'],['Ford', 'EXP'],['Ford', 'Ranger'],['Ford', 'Escort'],['Ford', 'Bronco'],['Ford', 'E250'],['Mercedes-Benz', 'E-Class'],['Mercedes-Benz', 'S-Class'],['Chevrolet', 'Caprice'],['Toyota', 'Celica'],['Dodge', 'Aries'],['Nissan', '280ZX'],['Mercedes-Benz', 'W123'],['Chevrolet', 'Monza'],['Citroën', 'SM'],['Porsche', '914'],['Ford', 'Torino']]

def fakerecord2():
    k = random.randint(0,53 )
    return {'Vehicle_id': faker.numerify('#####'),  
            'Make': make(k),
            'Model': model(k),
            }

def make(k):
    return cars[k][0]
def model(k):
    return cars[k][1]
    

example_dummy_data2 = pd.DataFrame([fakerecord2() for _ in range(10)])
example_dummy_data2

         Make             Model Vehicle_id
0     Mercury            Cougar      89725
1     Hillman  Minx Magnificent      94059
2      Shelby             GT350      49802
3     Pontiac           Tempest      52721
4        Ford            Bronco      71955
5      Jensen       Interceptor      16110
6        Ford              E250      79494
7      Austin              Mini      99699
8        Ford          Fairlane      61607
9  Volkswagen              Golf      82694

In [ ]:
writer = pd.ExcelWriter('VEHICLE.xlsx', engine='xlsxwriter')
example_dummy_data2.to_excel(writer, sheet_name='Sheet1')
writer.save()

In [172]:
from faker import Factory
import random
import datetime
import names
from datetime import datetime
import pandas as pd
import numpy as np
%matplotlib inline
faker = Factory.create()

def fakerecord3():
    k1 = random.randint(1000000000,1390036702 )
    k2 = random.randint(k1+5000000,1490036702 )
    return {'start_timestamp':  start(k1),
            'end_timestamp': end(k2),
            'Investigation_Duration': (str(start(k1) - end(k2)))[1:],
            'No_of_team_members': random.randint(5,25),
            }

def start(k1):
    return datetime.fromtimestamp(k1)
    
def end(k2):
    return datetime.fromtimestamp(k2)
    
example_dummy_data3= pd.DataFrame([fakerecord3() for _ in range(10)])
example_dummy_data3

,Investigation_Duration,NO_of_team_members,end_timestamp,start_timestamp
0,"2442 days, 3:53:34",8,2009-03-10 04:32:36,2002-07-03 08:26:10
1,"790 days, 11:30:55",8,2010-02-18 16:39:03,2007-12-22 04:09:58
2,"2026 days, 16:15:24",11,2009-01-03 07:36:07,2003-06-18 23:51:31
3,"3349 days, 4:40:04",8,2014-04-11 01:45:51,2005-02-08 06:25:55
4,"1048 days, 5:52:13",10,2014-11-16 07:54:01,2012-01-03 13:46:14
5,"106 days, 10:40:56",9,2005-12-09 15:28:15,2005-08-26 02:09:11
6,"195 days, 12:02:37",5,2009-10-04 04:27:59,2009-03-23 16:30:36
7,"5091 days, 17:47:58",7,2016-06-17 23:44:10,2002-07-11 17:32:08
8,"584 days, 7:50:27",12,2003-05-22 02:42:20,2001-10-15 10:32:47
9,"285 days, 9:00:39",5,2010-09-25 06:18:25,2009-12-14 15:19:04

In [ ]:
writer = pd.ExcelWriter('INVESTIGATION.xlsx', engine='xlsxwriter')
example_dummy_data3.to_excel(writer, sheet_name='Sheet1')
writer.save()